<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="head">
<div class="header">
  <div id="navigation-container">
    <a href="/"><img class="logo" src="/pictures/logo.svg" /></a>
    <ul class="hr">
      <li><a href="/">Home</a></li>
      <li sec:authorize="hasRole('ROLE_OPERATOR')"><a href="/claim_request">Claim Request</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/send_request">Send Request</a></li>
      <li sec:authorize="hasRole('ROLE_USER')"><a href="/user_tickets">My Tickets</a></li>
      <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">AdminPanel</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
</div>
</html>