.operators-buttons {
    margin: 0 auto;
    text-align: center;
}

h4 {
    text-align: center;
}

.table {
    margin: auto;
    color: #3a014f;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    background: #ffbff1;
    border-radius: 5px;
    height: auto;
    overflow-x:hidden;
    white-space: normal;
    word-break: break-all;
}

.updateTicket {
    margin: 0 auto;
    text-align: center;
}