@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .95;
}

.header {
    width: auto;
    border-radius: 5px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    border: 1px solid #a8ffd2;
}

a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px purple;
}

.main {
        width: auto;
        height: auto;
        border-radius: 5px;
        margin: 0.5% auto;
        box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
        padding: 2%;
        background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
        border: 1px solid #a8ffd2;
}


ul {
list-style-type: none;
}

.header ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    float: right;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    margin-top: 10px;
    padding: 4px; /* Значение полей */
   }
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}

.logo{
    margin-top: 0.4%;
    margin-left: 1%;
    display:inline-block;
}

.tick {
    width: 100%;
    text-align: center;
}

.inpt-req {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    outline:none;
    resize: none;
    display: block;
    padding: 20px;
}

select {
    width: 342px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}

.list {
    display: flex;
    justify-content: center;
}

#ticketButtons {
    width: 600px;
    margin: 5px;
}

.ticketList {
    height: auto;
    min-height: 100px;
    max-height: 600px;
    width: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.ticketList::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ticketList::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.ticketList::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.ticketTable {
    border: none;
    margin: auto;
    color: #3a014f;
    padding: 3px;
}

.ticketTable TD, TH {
    min-width: 100px;
    height: auto;
    padding: 5px; /* Поля вокруг текста */
    border: none; /* Рамка вокруг ячеек */
}

.currTicketById {
    border: none;
    margin: auto;
    color: #3a014f;
    padding: 3px;
    overflow-x:hidden;
    white-space: normal;
    word-break: break-all;
}

.currTicketById  TD, TH {
    min-width: 100px;
    max-width: 500px;
    text-align: center;
    padding: 5px; /* Поля вокруг текста */
    border: none; /* Рамка вокруг ячеек */
}