<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Requests</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/curr_ticket.css">
</head>
<body>
<head th:replace="fragments/header :: head"></head>

<div class="main">
<div class="curr-ticket" th:each ="el : ${ticket}">
  <h1 style="text-align: center; text-align: center; color: white; -webkit-text-stroke: 2px pink;">Ticket #<span th:text="${el.id}"></span></h1>
  <br>

  <table class="currTicketById">
    <tr>
      <th colspan="3" th:text="${el.title}"></th>
    </tr>
    <tr>
      <td>Ticket Opened at <br> <span th:text="${el.dateOpened}"></span></td>
      <td style="border-left: 1px solid blue; border-right: 1px solid blue;">Status <span th:text="${el.stage}" style="color: red;"></span></td>
      <td>Last ticket Update <br> <span th:text="${el.lastUpdated}"></span></td>
    </tr>
    <tr>
      <td colspan="3" th:text="${el.description}" style=""></td>
    </tr>
  </table>

  <div class="operators-buttons" sec:authorize="hasRole('ROLE_OPERATOR')" th:if="${el.assignedTo} == null">
      <form action="/take_ticket" method="post">
        <input type="hidden" name="ticketId" th:value="${el.id}"/>
        <button type="submit" class="btn btn-danger del">Take this</button>
      </form>
  </div>

</div>
</div>
</body>
