<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">
    <div id="navigation-container">
        <a href="/"><img class="logo" src="/pictures/logo.svg" /></a>
        <ul class="hr">
            <li><a href="/">Home</a></li>
            <li><a href="/requests">Requests</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">AdminPanel</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>

<div class="main">

  <h1>REQUESTS PAGE</h1>

</div>
</body>
</html>