<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<head th:replace="fragments/header :: head"></head>
<div class="main">
  <h1>My tickets</h1>
  <div class="list">
    <ul class="ticketList">
        <li th:each ="el : ${allTickets}">


          <form action="/current_ticket" method="post">
          <input type="hidden" name="ticketId" th:value="${el.id}"/>

          <button type="submit" id="ticketButtons">
          <table class="alert alert-info mt-2 ticketTable">
            <thead>
            <th>ID</th>
            <th>Date Opened</th>
            <th>Last Update</th>
            <th>Stage</th>
            <th>Title</th>
            </thead>
            <div>
              <tr>
                <td th:text="${el.id}"></td>
                <td th:text="${el.dateOpened}"></td>
                <td th:text="${el.lastUpdated}"></td>
                <td th:text="${el.stage}"></td>
                <td th:text="${el.title}"></td>
              </tr>
            </div>
          </table>
        </button>
          </form>
        </li>
    </ul>
  </div>
  </div>

</body>
</html>