<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<head th:replace="fragments/header :: head"></head>

<div class="main">
    <table class="alert alert-info mt-2 users">
      <thead>
      <th>ID</th>
      <th>Stage</th>
      <th>Title</th>
      <th>Description</th>
      </thead>
      <div th:each ="el : ${allTickets}">
        <tr>
          <td th:text="${el.id}"></td>
          <td th:text="${el.stage}"></td>
          <td th:text="${el.title}"></td>
          <td th:text="${el.description}"></td>
        </tr>
      </div>
    </table>
  </div>

</body>
</html>